<div class="container animate-bottom">
  <div class="heading">
    <h1>Posture Buddy</h1>
  </div>
  <div id="webcam-container"></div>
  <div id="buttons-section">
    <div>
      <button id="start" class="btn" (click)="start()">Start recording</button>
    </div>
    <div>
      <button id="stop" class="disable btn" disabled (click)="stop()">
        Stop recording
      </button>
    </div>
    <div class="box">
      <select id="postures">
        <option value="right position">Right Position</option>
        <option value="wrong position">Wrong Position</option>
      </select>
    </div>
    <div>
      <button class="btn" (click)="trainModel()">Save</button>
    </div>
  </div>
</div>
<app-loader></app-loader>
