<div class="container">
  <mat-card
    class="example-card"
    [ngClass]="{
      'animate-bottom': postureLabel === 'right position',
      'container-animation': postureLabel === 'right position'
    }"
  >
    <div id="webcam-container"></div>
    <mat-card-content>
      <div id="instruction-section" *ngIf="timer < 5">
        <h3>{{ title }}</h3>
        <h2>{{ timer }}</h2>
      </div>
      <div id="loader-section" *ngIf="timer === 5">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
      <div id="instruction-section" *ngIf="title === null">
        <h3>Training data. Please wait...</h3>
      </div>
    </mat-card-content>
  </mat-card>
</div>
