@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto";
  height: 100vh;
  margin: 0px;
}

.container {
  display: none;
  flex-direction: column;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 6px;
  background-color: #fff;
  margin: 0 auto;
  height: 728px;

  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

.heading {
  font-size: 14px;
  padding: 20px;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes s7 {
  100% {
    transform: rotate(1turn);
  }
}

main {
  order: -1;
}
