<div class="container">
  <mat-card class="example-card container-animation">
    <div id="home-camera-feed"></div>
    <mat-card-content id="posture-section">
      <h2>Postures</h2>
      <div id="label-container">
        <div class="progress">
          <label for="name" id="label1"></label>
          <div class="progress-bar">
            <div class="bar" id="bar1"></div>
          </div>
        </div>
        <div class="progress">
          <label for="name" id="label2"></label>
          <div class="progress-bar">
            <div class="bar" id="bar2"></div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
